*{
    margin: 0px;
    padding: 0px;
}

.logo{
    display: flex;
    flex-direction: row;
    gap: 2rem;
    align-items: center;
    color: rgb(15, 15, 100);
}
.logo img{
    width: 100px;
    margin: 10px;
}

nav{
    background-color: rgb(15, 15, 100);
}

ul{
    list-style: none;
    display: flex;
    flex-direction: row;
    gap: 2rem;
    padding-inline: 4rem;
    align-content: space-between;
}


ul a{
    display: block;
    padding: 10px;
    text-decoration: none;
    color: white; 
    margin: 0px;
}

ul a:hover{
    color: rgb(15, 15, 100);
    background-color: white;
    transition: 0.3s;
}