@import url('https://fonts.googleapis.com/css2?family=Inter&family=Poppins:wght@500&family=Quicksand:wght@400;500;700&family=Roboto&display=swap');

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'poppins';
}

.logo{
    display: flex;
    flex-direction: row;
    gap: 2rem;
    align-items: center;
    color: rgb(15, 15, 100);
}
.logo img{
    width: 100px;
    margin: 10px;
}

nav{
    background-color: rgb(15, 15, 100);
}

ul{
    list-style: none;
    display: flex;
    flex-direction: row;
    gap: 2rem;
    padding-inline: 4rem;
    align-content: space-between;
}


ul a{
    display: block;
    padding: 10px;
    text-decoration: none;
    color: white; 
    margin: 0px;
}

ul a:hover{
    color: rgb(15, 15, 100);
    background-color: white;
    transition: 0.3s;
}

.containerTerbaru{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;

}


.terbaru{
    margin: 20px;
    padding: 25px;
    width: 700px;
    display: flex;
    flex-direction: column;
    align-items: center;
   
}

.terbaru img{
    width: 650px;
    transition: 0.3s;
}

.terbaru img:hover{
    opacity: 0.5;
}

.terbaru h1{
    text-align: center;
    font-size: 50px;
}

.terbaru h2{
    transition: 0.3s;
    cursor: pointer;
}

.terbaru h2:hover{
    color: rgb(15, 15, 100);
}
.terbaru p{
    
    text-align: left;
    color: gray;
}

.terbaru_2{
    width: 900px;
    margin: 20px;
}

.terbaru_2 article{
    margin: 20px 0px;
    display: flex;
    flex-direction: row;
    gap: 2rem;
    align-items: center;
}

.terbaru_2 img{
    width: 300px;
    transition: 0.3s;
    cursor: pointer;
}

.terbaru_2 h2{
    transition: 0.3s;
    cursor: pointer;
}

.terbaru_2 h2:hover{
    color: rgb(15, 15, 100);
}


.terbaru_2 img:hover{
    opacity: 0.5;
}

.pendidikan{
    margin: 20px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 2rem;
    align-items: stretch;
}

.pendidikan article{
    display: flex;
    flex-direction: column;
    width: 600px;
    align-items: center;
    align-content: center;
    justify-content: center;
    text-align: center;
}


.pendidikan img{
    height: 200px;
    transition: 0.3s;
    cursor: pointer;
}


.pendidikan h2{
    transition: 0.3s;
    cursor: pointer;
}

.pendidikan h2:hover{
    color: rgb(15, 15, 100);
}


.pendidikan img:hover{
    opacity: 0.5;
}
